*{
--Back: rgb(45, 185, 175);
--letter: whitesmoke;
--dark: rgb(1, 25, 10);
}

.navbar {
  background-color: var(--Back);
  height: 80px;
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: var(--Back);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  align-items: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: var(--letter);
  background-color: var(--Back);
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: var(--dark);
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: var(--Back);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}
